*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;

}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;

}
.nav-left .logo{
    width: 130px;

}
.nav-middle .mic-icone{
    width: 16px;

}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
} 
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
    color: #002B5B;
    font-weight: 600;
}
.nav-middle .search-box img{
    width: 15px;
}

@media (max-width:900px){
    .nav-right img{
        display: none;
    }
    .nav-right #mode{
        display: block;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;

    }
    .nav-middle .search-box input{
        width: 100px;
    }
    .nav-middle .mic-icone{
        display: none;
    }
    .logo{
        width: 90px;
    }
    .button{
        display: none;
    }
    .banner{
        margin-top: 0;
    }
}

/* nav bar close */
.row{
    margin: 35px;
    display: flex;
    justify-content: space-between;
}
.play-video video{
    width: 95%;
    border-radius: 10px;

}
.side-video-list img{
    width: 95%;
    border-radius: 7px;
}

/* video discription */
.play-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.play-video h3{
    font-weight: 600;
    font-size: 22px;
}
.play-video .play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;

}
.play-video .play-video-info a img{
    width: 20px;
    margin-right: 8px;
}
.play-video .play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
} 
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;

}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.plublisher button{
    background-color: red;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}
.vid-description{
    padding-left: 55px;
    margin: 15px 0;

}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;

}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;

}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.old-comment .acomment-action img{
    width: 20px;
    border-radius: 0;
    margin-right: 5px;

}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}